{% filter markdown %}
# Event Parser

This small app allows for extracting data from event pages on these platforms:

- EventBrite

## Usage

Enter the URL of this page (eg.
`https://civictechto-event-parser.herokuapp.com/`) followed by the event source
URL (with no spaces in-between) to extract the event data.

For example, for the event URL at
`https://www.eventbrite.ca/e/women-win-to-2018-launch-tickets-34703027690`
the corresponding parsed data URL is
`https://civictechto-event-parser.herokuapp.com/https://www.eventbrite.ca/e/women-win-to-2018-launch-tickets-34703027690`
— you can view it in browser.

{% endfilter %}
